*.DS_Store
install/*
build/*
devel/*
logs/*
bag/*
web/node_modules/*
/bag/*.bag*
*.DS_Store
web/uploads/*
web/public/map/*
install
log/*
ros_logs
build
log
web/X*
__pycache__
.cache
.vim
.clangd
X*.log.*
